
.button-container {
  display: flex;
  align-items: center;
}

.button-container .button {
  height: 20px;
  background-color: rgb(0, 120, 245);
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}